@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<link href="~/Content/Info_CSS.css" rel="stylesheet" />
<link href="~/Content/Foother.css" rel="stylesheet" />
<link href="~/Content/Contact_CSS.css" rel="stylesheet" />
<!-- section info -->
<section class="section section-info">
    <div class="info">

        <div class="info-item" style="padding: 10px;">
            <div class="info-content info-content-text">
                <h3 class="info-title">Условия и порядок аренды</h3>
                <img src="~/App_Data/imgs/1.jpg" alt="" style="width: 100%; height: 180px;"/>
                <br>
                <p class="contacts-text">
                    Требования к арендатору:
                    <ul>
                        <li>&nbsp;возраст от 22 лет;</li>
                        <li>&nbsp;стаж вождения от 3-х лет;</li>
                        <li>&nbsp;наличие прописки в Москве или МО;</li>
                        <li>&nbsp;наличие оригинала паспорта и водительского удостоверения.</li>
                    </ul><br>
                    Для того, чтобы арендовать автомобиль Вам необходимо связаться с нашими менеджерами по телефону
                    <nobr><a href="tel:+78005553535">+7 (800) 555-35-35</a></nobr>,
                    выбрать автомобиль и комплектацию авто, договориться о времени,
                    чтобы наши специалисты могли подготовить выбранный Вами автомобиль.
                    После этого Вы приезжаете в наш офис, заключается договор и
                    Вы уезжаете на арендованном авто уже через 10-15 минут!
                </p>
            </div>
        </div>

        <div class="info-item" style="padding: 10px;">
            <div class="info-content info-content-text">
                <h3 class="info-title">Обязанности арендатора</h3>
                <img src="~/App_Data/imgs/2.1.jpg" alt="" style="width: 100%; height: 180px;"/>
                <br>
                <p class="contacts-text">
                    <ul>
                        <li>&nbsp;зона проката авто - в пределах Российской Федерации;</li>
                        <li>&nbsp;не оставлять машину открытой;</li>
                        <li>&nbsp;всегда перед уходом необходимо закрывать авто и включать сигнализацию;</li>
                        <li>&nbsp;нельзя оставлять в машине ключи и документы на автомобиль;</li>
                        <li>&nbsp;нельзя парковаться в запрещенных местах, а также неоплачивать парковку;</li>
                        <li>&nbsp;автомобиль необходимо возвращать чистым и с полным баком.</li>
                    </ul><br>
                    <span style="font-weight: 900">
                        Уважаемые клиенты, настоятельно рекомендуем Вам не нарушать ПДД, так как, несмотря на то,
                        что автомобиль арендованный, Вы несете такую же административную и материальную ответственность в
                        случае нарушения ПДД, как если бы это был Ваш собственный автомобиль!!!
                    </span>
                    <br><br>
                    Вы можете помыть автомобиль со скидкой на автомойке, которая находится на территории нашей компании,
                    а заправить на автозаправке — в 300 метрах от нас.
                </p>
            </div>
        </div>

        <div class="info-item" style="padding: 10px;">
            <div class="info-content info-content-text">
                <h3 class="info-title">Экстренные случай</h3>
                <img src="~/App_Data/imgs/3.jpg" alt="" style="width: 100%; height: 180px"/>
                <br>
                <p>
                    В случае, если Вы попали в ДТП, у Вас угнали машину или других экстренных ситуациях обязательно:
                    <ul>
                        <li>&nbsp;свяжитесь с нами по телефону <nobr><a href="tel:+78005553535">+7 (800) 555-35-35</a></nobr>;</li>
                        <li>&nbsp;позвоните по номеру <a href="tel:112">112</a> и вызовите необходимые службы (ДПС, полицию, скорую, если необходимо);</li>
                        <li>&nbsp;дождитесь представителей экстренных служб;</li>
                        <li>&nbsp;оформите все необходимые документы;</li>
                        <li>&nbsp;предоставьте все полученные документы нашим специалистам.</li>
                    </ul><br>
                    в случае какой-либо экстренной ситуации обязательно сохраняйте хладнокровие и рассудительность,
                    обратитесь к нашим специалистам по телефону и мы поможем Вам в любой ситуации.
                </p>
            </div>
        </div>

    </div>
</section>
<!-- section info -->
<!-- footer page  -->
<footer class="footer-page">
    <div class="container">
        <div class="footer-page-text cont1">
            <p>Автопрокат 2021</p>
        </div>
    </div>
</footer>
<!-- footer page  -->
